.topDropListe {
  border: solid 2px grey;
  border-radius: 10px;
  margin: 0px 20vw 10px 10px;
  display: inline-block;
}

th.mat-header-cell {
  border-bottom: solid black;
  border-left: solid 0.5px grey;
}

td.mat-cell {
  border-left: solid 0.5px grey;
}

.mat-column-hour {
  width: 6vw;
  background-color: #424242;
  color: #ffffff;
}

.column-day {
  width: 12vw;
  padding-left: 24px;
  background-color: #616161;
  color: #ffffff;
}

.table-row {
  height: 3vh !important;
}

.haveSomething {
  background-color: #9E9E9E;
}

.eventButton {
  margin: 5px;
}

.element-in-column .eventButton {
  max-width: 10vw;
  overflow-x: auto;
}

.element-in-column {
  min-height: 20px;
  background: white;
  overflow: hidden;
  display: block;
}

.buttonHide {
  display: none;
}

.navigation-button {
  display: inline-block;
  float: right;
  margin-right: 10px;
}
