<!-- Travail non fini
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi #picker></mat-datepicker>
</mat-form-field>
-->

<!-- Event creation -->
<button class="eventButton" mat-raised-button color="warn">
  <div [hidden]="true" (click)="this.eventShow = true">Créer un event</div>
</button>
<app-calendar-event class="toggle" (createEvent)="addEvent($event)"></app-calendar-event>

<!-- Début de la liste dragable -->
<div cdkDropListGroup>
  <div cdkDropList [cdkDropListData]="eventColumList" [cdkDropListConnectedTo]="[calendarList]" #selectList="cdkDropList" (cdkDropListDropped)="drop($event)" class="topDropListe">
    <button *ngFor="let event of eventColumList" class="eventButton" mat-raised-button color="primary" cdkDrag>{{event}}</button>
    <button class="eventButton" mat-raised-button color="primary" cdkDrag>
    </button>
  </div>

  <!-- Boutton de navigation -->
  <div class="navigation-button">
    <button mat-mini-fab color="primary" (click)="subWeek()"><i class="material-icons">navigate_before</i></button>
    <button mat-mini-fab color="primary" (click)="addWeek()"><i class="material-icons">navigate_next</i></button>
  </div>

  <!-- Début de la table -->
  <table mat-table [dataSource]="this.dataSource" class="mat-elevation-z8 fullScreen">

    <!-- Hour Column -->
    <ng-container matColumnDef="hour">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> {{element.hour < 10 ? '0' + element.hour : element.hour}}h - {{element.hour + 1 <= 23 ? element.hour + 1 : '00'}}h </td>
    </ng-container>

    <!-- monday Column -->
    <ng-container matColumnDef="monday">
      <th mat-header-cell *matHeaderCellDef class="column-day"> Lundi {{firstDayNb.getDate()}} {{monthNames[firstDayNb.getMonth()]}}</th>
      <td mat-cell *matCellDef="let element">
        <div cdkDropList [cdkDropListData]="elements.monday[element.hour]" [cdkDropListConnectedTo]="[selectList]" #calendarList="cdkDropList" (cdkDropListDropped)="drop($event)" class="element-in-column">
          <button *ngFor="let element of elements.monday[element.hour]" [ngClass]="{'buttonHide': element === ''}" class="eventButton" mat-raised-button color="primary" cdkDrag>{{element}}</button>
        </div>
      </td>
    </ng-container>

    <!-- tuesday Column -->
    <ng-container matColumnDef="tuesday">
      <th mat-header-cell *matHeaderCellDef class="column-day"> Mardi {{firstDayNb.addDays(1).getDate()}} {{monthNames[firstDayNb.addDays(1).getMonth()]}}</th>
      <td mat-cell *matCellDef="let element">
        <div cdkDropList [cdkDropListData]="elements.tuesday[element.hour]" [cdkDropListConnectedTo]="[selectList]" #calendarList="cdkDropList" (cdkDropListDropped)="drop($event)" class="element-in-column">
          <button *ngFor="let element of elements.tuesday[element.hour]" [ngClass]="{'buttonHide': element === ''}" class="eventButton" mat-raised-button color="primary" cdkDrag>{{element}}</button>
        </div>
      </td>
    </ng-container>

    <!-- wednesday Column -->
    <ng-container matColumnDef="wednesday">
      <th mat-header-cell *matHeaderCellDef class="column-day"> Mercredi {{firstDayNb.addDays(2).getDate()}} {{monthNames[firstDayNb.addDays(2).getMonth()]}}</th>
      <td mat-cell *matCellDef="let element">
        <div cdkDropList [cdkDropListData]="elements.wednesday[element.hour]" [cdkDropListConnectedTo]="[selectList]" #calendarList="cdkDropList" (cdkDropListDropped)="drop($event)" class="element-in-column">
          <button *ngFor="let element of elements.wednesday[element.hour]" [ngClass]="{'buttonHide': element === ''}" class="eventButton" mat-raised-button color="primary" cdkDrag>{{element}}</button>
        </div>
      </td>
    </ng-container>

    <!-- thursday Column -->
    <ng-container matColumnDef="thursday">
      <th mat-header-cell *matHeaderCellDef class="column-day"> Jeudi {{firstDayNb.addDays(3).getDate()}} {{monthNames[firstDayNb.addDays(3).getMonth()]}}</th>
      <td mat-cell *matCellDef="let element">
        <div cdkDropList [cdkDropListData]="elements.thursday[element.hour]" [cdkDropListConnectedTo]="[selectList]" #calendarList="cdkDropList" (cdkDropListDropped)="drop($event)" class="element-in-column">
          <button *ngFor="let element of elements.thursday[element.hour]" [ngClass]="{'buttonHide': element === ''}" class="eventButton" mat-raised-button color="primary" cdkDrag>{{element}}</button>
        </div>
      </td>
    </ng-container>

    <!-- friday Column -->
    <ng-container matColumnDef="friday">
      <th mat-header-cell *matHeaderCellDef class="column-day"> Vendredi {{firstDayNb.addDays(4).getDate()}} {{monthNames[firstDayNb.addDays(4).getMonth()]}}</th>
      <td mat-cell *matCellDef="let element">
        <div cdkDropList [cdkDropListData]="elements.friday[element.hour]" [cdkDropListConnectedTo]="[selectList]" #calendarList="cdkDropList" (cdkDropListDropped)="drop($event)" class="element-in-column">
          <button *ngFor="let element of elements.friday[element.hour]" [ngClass]="{'buttonHide': element === ''}" class="eventButton" mat-raised-button color="primary" cdkDrag>{{element}}</button>
        </div>
      </td>

    </ng-container>

    <!-- saturday Column -->
    <ng-container matColumnDef="saturday">
      <th mat-header-cell *matHeaderCellDef class="column-day"> Samedi {{firstDayNb.addDays(5).getDate()}} {{monthNames[firstDayNb.addDays(5).getMonth()]}}</th>
      <td mat-cell *matCellDef="let element">
        <div cdkDropList [cdkDropListData]="elements.saturday[element.hour]" [cdkDropListConnectedTo]="[selectList]" #calendarList="cdkDropList" (cdkDropListDropped)="drop($event)" class="element-in-column">
          <button *ngFor="let element of elements.saturday[element.hour]" [ngClass]="{'buttonHide': element === ''}" class="eventButton" mat-raised-button color="primary" cdkDrag>{{element}}</button>
        </div>
      </td>
    </ng-container>

    <!-- sunday Column -->
    <ng-container matColumnDef="sunday">
      <th mat-header-cell *matHeaderCellDef class="column-day"> Dimanche {{firstDayNb.addDays(6).getDate()}} {{monthNames[firstDayNb.addDays(6).getMonth()]}}</th>
      <td mat-cell *matCellDef="let element">
        <div cdkDropList [cdkDropListData]="elements.sunday[element.hour]" [cdkDropListConnectedTo]="[selectList]" #calendarList="cdkDropList" (cdkDropListDropped)="drop($event)" class="element-in-column">
          <button *ngFor="let element of elements.sunday[element.hour]" [ngClass]="{'buttonHide': element === ''}" class="eventButton" mat-raised-button color="primary" cdkDrag>{{element}}</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
  </table>
</div>
