<div class="createEvent">
  <mat-form-field class="inputName">
    <input matInput type="text" placeholder="Ajoutez un évenement" (keyup.enter)="addEventOnParent(event)" [(ngModel)]="event">
  </mat-form-field>
  <button mat-mini-fab matSuffix aria-label="done" color="warn" (click)="addEventOnParent(null)" class="buttonCancel">
    <mat-icon>close</mat-icon>
  </button>
  <button mat-fab [disabled]="!event" matSuffix aria-label="done" color="primary" (click)="addEventOnParent(event)" class="buttonValid">
    <mat-icon>done</mat-icon>
  </button>

</div>
