.createEvent {
  border: solid 2px grey;
  border-radius: 10px;
  width: 70vw;
  height: 10vh;
  margin: -10px 20px 20px 20px;
  max-width: 350px;
}

.buttonCancel {
  margin: 5px 10px 10px 10px;
}

.buttonValid {
  margin: 5px 10px 10px 10px;
  right: 10px;
}

.inputName {
  margin: 10px 0px 0px 10px;
  max-width: 180px;
}
